<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-icon" data-background-color="purple">
                      <i class="material-icons">apps</i>
                  </div>
                  <div class="card-content">
                      <div class="row">
                          <h4 class="col-xs-10 card-title">Tags</h4>
                          <button class="col-xs-1 btn btn-info btn-round btn-fab btn-fab-mini" (click)="addClick()"  matTooltip="Add">
                              <i class="material-icons">add</i>
                          </button> 
                      </div>
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="material-datatables table-responsive">
                          <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead class="text-primary">
                                  <tr>
                                      <th>Id</th>
                                      <th>Name</th>
                                      <th class="disabled-sorting text-right">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let tag of tags">
                                      <td>{{ tag.id }}</td>
                                      <td>{{ tag.name }}</td>
                                      <td class="td-actions text-right">
                                          <button type="button" class="btn btn-success btn-simple" (click)="editClick(tag.id)" data-toggle="modal" data-target="#noticeModal"  matTooltip="Edit" [matTooltipPosition]="'left'">
                                              <i class="material-icons">edit</i>
                                          </button>
                                          <button type="button" class="btn btn-danger btn-simple" (click)="removeClick(tag.id)"  matTooltip="Remove" [matTooltipPosition]="'left'">
                                              <i class="material-icons">close</i>
                                          </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->

      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notice">
              <div class="card">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                          <h5 class="modal-title" id="myModalLabel">Edit Tag</h5>
                      </div>
                      <div class="modal-body">
                          <form (ngSubmit)="editTag()" class="form-horizontal">
                              <div class="row">
                                  <label class="col-sm-2 label-on-left">Id</label>
                                  <div class="col-sm-10">
                                      <div class="form-group label-floating">
                                          <label class="control-label"></label>
                                          <input type="text" name="id" class="form-control" [(ngModel)]="tag.id" disabled>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <label class="col-sm-2 label-on-left">Name</label>
                                  <div class="col-sm-10">
                                      <div class="form-group label-floating">
                                          <label class="control-label"></label>
                                          <input type="text" name="name" class="form-control" [(ngModel)]="tag.name">
                                      </div>
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>  
      
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notice">
              <div class="card">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                          <h5 class="modal-title" id="myModalLabel">Add Tag</h5>
                      </div>
                      <div class="modal-body">
                          <form (ngSubmit)="addTag()" class="form-horizontal">
                              <div class="row">
                                  <label class="col-sm-2 label-on-left">Id</label>
                                  <div class="col-sm-10">
                                      <div class="form-group label-floating">
                                          <label class="control-label"></label>
                                          <input type="text" name="id" class="form-control" [(ngModel)]="tag.id" disabled>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <label class="col-sm-2 label-on-left">Name</label>
                                  <div class="col-sm-10">
                                      <div class="form-group label-floating">
                                          <label class="control-label"></label>
                                          <input type="text" name="name" class="form-control" [(ngModel)]="tag.name">
                                      </div>
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
  </div>
</div>