<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">EVANT</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                      <a href="/account/login">
                          <i class="material-icons">fingerprint</i> Login
                      </a>
                  </li>
                    <li class=" active ">
                        <a href="/account/forgetpassword">
                            <i class="material-icons">person_add</i> Forget Password
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form (ngSubmit)="forgetPassword()" [formGroup]="forgetFormGroup">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">FORGET PASSWORD</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating" [ngClass]="displayFieldCss(forgetFormGroup, 'email')">
                                            <label class="control-label">Email address
                                                <span class="star">*</span>
                                            </label>
                                            <input type="email" name="email" [(ngModel)]="forgetPasswordCredentials.email" class="form-control" formControlName="email"
                                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                            <app-field-error-display [displayError]="isFieldValid(forgetFormGroup, 'email')" errorMsg="Email is required and format should be esd@evant.com.">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}
                    <a href="https://www.creative-tim.com">Evant</a>, made with ♥
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpeg) "></div>
    </div>
  </div>