<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-icon" data-background-color="purple">
                      <i class="material-icons">local_offer</i>
                  </div>
                  <div class="card-content">
                      <h4 class="card-title">Logs</h4>
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="material-datatables table-responsive">
                          <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead class="text-primary">
                                  <tr>
                                      <th>Id</th>
                                      <th>Created Date</th>
                                      <th>Exception</th>
                                      <th>Ip</th>
                                      <th>Message</th>
                                      <th>Status</th>
                                      <th>Table</th>
                                      <th class="disabled-sorting text-right">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let eventTag of eventTags">
                                      <td class="td-actions text-right">
                                        <button class="btn btn-simple btn-danger btn-simple" (click)="removeClick(log.id)"  matTooltip="Remove" [matTooltipPosition]="'left'">
                                            <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row --> 
  </div>
</div>